<% content_for :heading do %>
  Goldenrod#index
<% end %>

<ul>
  <li>Is the background Goldenrod?</li>
  <li>Is it still goldenrod when you refresh?</li>
  <li>Does the view count increment when you click the link?</li>
</ul>
