<% content_for :heading do %>
  Lightcoral#index
<% end %>

<ul>
  <li>Is the background lightcoral?</li>
  <li>Is it still lightcoral when you refresh?</li>
  <li>Does the view count increment when you click the link?</li>
</ul>
