<% content_for :heading do %>
  Welcome#index
<% end %>

<p>
  <strong>Challenge 1</strong>: When you click on a color page, your background color should change to match the name of the color in your url path.
  <ul>
    <li>Does it work on refresh?</li>
    <li>Does it work when you click through to the page?</li>
    <li>Is your solution DRY?</li>
  </ul>
</p>
<p>
<strong>Challenge 2</strong>: The counter should increase for every individual page view.
  <ul>
    <li>Do all the numbers reset when you refresh? (good!)</li>
    <li>Do specific numbers increment on each pageview?</li>
    <li>Is your solution DRY?</li>
  </ul>
</p>
