<% content_for :heading do %>
  Lightseagreen#index
<% end %>

<ul>
  <li>Is the background Seagreen?</li>
  <li>Is it still seagreen when you refresh?</li>
  <li>Does the view count increment when you click the link?</li>
</ul>
